*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 25px;
    background: #111;
    color: #e95f30;
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    z-index: 2000;
}

nav button{
    background: #e95f30;
    border: none;
    color: #111;
    padding: 7px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

/* Background animation */
section{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    align-items: center;
    background: #000;
}




/* animation gradient */
section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000,#e95f30,#000);
    animation: animate 5s linear infinite;
    z-index: 1;
}

@keyframes animate{
    0%{ transform: translateY(-100%); }
    100%{ transform: translateY(100%); }
}

/* Dashboard card layout */
.dashboard{
    position: absolute;
    z-index: 1000;
    width: 90%;
    background: rgba(17,17,17,0.85);
    padding: 25px;
    border-radius: 12px;
}

.stats{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 32%;
    background: #201e1eff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color:white;
}

.card h3{
    color: #ec6132ff;
}

/* Form */
.form-section{
    background: #222;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.from-section ,h2{
    color:white;
}

form{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

form input, form select{
    width: 23%;
    padding: 10px;
    border-radius: 6px;
    background: #333;
    color: #f3eaeaff;
    border: none;
}

form button{
    background: #e95f30;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 100%;
    margin-top: 5px;
    font-weight: 700;
    cursor: pointer;
}

/* Table */
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background: #d8cbcbff;
    margin-top: 20px;
    border-radius: 10px;
}

thead{
    background: #e95f30;
    color: #191717ff;
}

td, th{
    padding: 10px;
}
